/*{
  border: dashed 1px red;
}*/

body {
  font-family: "roboto", sans-serif;
  margin: 0;
}
.wraper{
  width: 80%;
  margin: auto;
  padding-bottom: 181px;
}
.header{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding-left: 44px;
  font-family: pt_serifboldf;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  position: relative;
}
.logo, .menu {
  display: inline-block;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item, .menu__item_active {
  margin-right: 26px;
  font-family: robotomedium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: opacity: .5s;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item_active::after {
  display: block;
  content:"";
  width: 100%;
  height: 3px;
  background: #0056EC;
  position: absolute;
  left: 0;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:after {
 position: absolute;
 left: 0;
 display: block;
 content: '';
 width: 0;
 height: 3px;
 background: #0056EC;
 opacity: 0;
 transition: opacity .5s, width.5s;
}
.menu__item:hover::after, .menu__item_active::after {
  opacity: 1;
  width: 100%
}
.main-content, .image-content {
  display: inline-block;
}
 .image-content {
   width: 40%;
 }
.main-content__title {
  padding-top: 206px;
  width: 30%;
}
.main-content__description {
  width: 24%;
  padding: 40px 0;
}
.main-content__button {
  width: 14%;
  padding: 18px 21px;
}
.logo__circle{
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
    opacity: .7;
}
.logo__circle_color-blue {
  left: 6px;
  top: 25%;
  background: #C8DBFB;
}
.logo__circle_color-dark-blue {
  background: #0056EC
}
