/*{border: dashed 1px red;
}*/

@keyframes menu-animation {
  from {
      opacity: 0;
  }
  80% {
    opacity: .4;
  }
    to {
        opacity: .8;
        width: 100%
    }
  }
.gradient {
    background: linear-gradient(to top, rgb(236 243 255) 0%, rgb(236 243 255) 60%, rgb(255 255 255) 82% 100%);
}
.body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.wraper{
  width: 81%;
  margin: auto;
  padding-bottom: 181px;
}
.header{
  padding: 32px 10px 40px 7px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 129px;
}
.logo {
  padding-left: 44px;
  font-family: pt_serifbold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  position: relative;
}
.logo, .menu {
  display: inline-block;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item, .menu__item_active {
  margin-right: 27px;
  font-family: robotomedium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  position: relative;
}
.menu__item:last-child {
  margin-right: 2px;
}
.menu__item_active::after {
  display: block;
  content:"";
  width: 100%;
  height: 3px;
  background: #0056EC;
  position: absolute;
  left: 0;
  top: 23px;
}
.menu__item:hover::after{
  animation: menu-animation .5s forwards ease-in;
}
.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
}
.main-content__title {
  width: 37%;
  font-family: pt_serifbold;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
  margin: 0;
  padding-bottom: 35px;
}
.main-content__description {
  font-family: Roboto;
  width: 30%;
  height: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 60px 0;
}
.main-content__button {
  text-decoration: none;
  width: 24%;
  padding: 16px 35px 16px 26px;
  margin: 0;
  font-family: robotoregular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  border-radius: 4px;
  background: #0056EC;
  transition: all .5s;
}
.main-content__button:hover{
  box-shadow: 0px 5px 9px #5193F4;
}
.main-content {
  background: url(img/image.svg);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 76px 0 150px 5px;
  position: relative;
  background-size: contain;
  margin-right: 9px;
}
.logo__circle{
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color-blue {
  left: 6px;
  top: 25%;
  background: #C8DBFB;
}
.logo__circle_color-dark-blue {
  background: #0056EC
}
.main-point {
  display: flex;
  justify-content: center;
}
.main-point__first {
  position: absolute;
  width: 8px;
  height: 8px;
  left: calc(50% - 8px/2 - 12px);
  top: 790px;
  background: #C8DBFB;
  opacity: 0.7;
  border-radius: 50%;

}
.main-point__second {
  position: absolute;
  width: 8px;
  height: 8px;
  left: calc(50% - 8px/2);
  top: 790px;
  background: #C8DBFB;
  opacity: 0.7;
  border-radius: 50%;

}
.main-point__third {
  position: absolute;
  width: 8px;
  height: 8px;
  left: calc(50% - 8px/2 + 12px);
  top: 790px;
  background: #C8DBFB;
  opacity: 0.7;
  border-radius: 50%;

}

#menu__toggle {
  opacity:0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 39px;
  left: 87%;
  width: 25px;
  height: 3px;
  cursor: pointer;
  z-index: 999999;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
}
.menu__btn > span::before{
  content: '';
  top: -7px;
}
.menu__btn > span::after {
  content: '';
  top: 7px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 186px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  transition-duration: .25s;
  z-index: 100;
}
.menu__box:last-child {
  padding-bottom: 205px;
}
.menu__item_checkbox {
  display: block;
  font-family: robotomedium;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  text-decoration: none;
  padding-bottom: 25px;
}
.menu__item_checkbox:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__item_checkbox {
  transition-duration: .25s;
}


@media (min-width:770px) {
  .hamburger-menu {
    display: none;
  }
}
@media (max-width:1763px) {
  .main-content {
    background-size: 55%;
  }
  .main-content__title {
    width: 50%;
    font-size: 65px;
  }
  .main-content__description {
    font-size: 23px;
    width: 40%;
  }
}
@media (max-width:1368px) {
  .wraper {
    width: 69%;
  }
  .header {
    margin: 0 0 84px 0;
    padding: 32px 1px 39px 2px
  }
  .menu__item, .menu__item_active {
    font-family: robotomedium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-top: 7px;
    margin-right: 26px;
  }
  .menu__item:last-child {
    margin-right: 5px;
}
  .main-content {
    width: 100%;
    padding: 17px 0 70px 0;
  }
  .main-content__title {
    font-size: 50px;
    line-height: 66px;
    width: 53%;
    padding-bottom: 38px;
  }
  .main-content__description {
    width: 39%;
    font-family: robotomedium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 45px;
  }
  .main-content__button {
    width: 77%;
    font-family: robotomedium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 25px 13px 16px;
    margin-left: 2px;
  }
  .main-point__first, .main-point__second, .main-point__third {
    top: 527px;
  }
}
@media (max-width:1266px) {
  .main-content {
    background-size: 60%;
  }
  .main-content__title {
    font-size: 45px;
    width: 45%;
  }
}
@media (max-width:1157px){
  .main-content__title {
    font-size: 40px;
  }
  .main-content {
    background-size: 58%;
  }
}

@media (max-width:1026px) {
  .header {
    margin: 40px 38px 124px 42px;
    padding: 0;

  }
  .logo {
    font-family: pt_serifbold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding-left: 40px;
  }
  .logo__sircle-color-dark-blue {
    left: -4px;
  }
  .wraper {
    width: 100%;
    padding-bottom: 0;
  }
  .menu__item, .menu__item_active {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    margin-right: 26px;
  }
  .menu__item:last-child {
    margin-right: 1px;
  }
  .main-content__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 66px;
    width: 53%;
    padding: 0 0 37px 8px;
  }
  .main-content {
    width: 93%;
    margin: auto;
    padding: 17px 0 70px 0;
    background-size: contain;
    right: 5px;
  }
  .main-content__description {
    font-family: robotomedium;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    height: 43px;
    width: 40%;
    padding: 0 0 52px 8px;
    margin: 0;
  }
  .main-content__button {
    padding: 12px 25px 14px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 22%;
    margin-left: 8px;
  }
  .main-point__first, .main-point__second, .main-point__third {
    top: 527px;
  }
}
@media (max-width:990px) {
  .main-content__title {
    font-size: 40px;
  }
  .main-content__description {
    font-size: 17px;
    width: 37%;
  }
}
@media (max-width:872px) {
  .main-content {
    background-size: 56%;
    font-size: 38px;
  }
}
@media (max-width:768px) {
  .menu {
    display: none;
    }
  .wraper {
    width: 100%;
    height: 667px;
  }
  .header {
    margin: 0;
    padding: 24px 24px 28px 24px;
    }
  .main-content {
    padding: 70% 0 0;
    width: 75%;
    margin: auto;
    z-index: 4;
    background-size: 100%;
    text-align: center;
    right: 0;
    }
  .main-content__title {
    font-family: pt_serifbold;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    width: auto;
    padding-bottom: 31px;
    }

  .main-content__description {
    font-family: robotomedium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 85%;
    height: 57px;
    padding-bottom: 38px;
    margin: auto;
    }
  .main-content__button {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 74%;
    padding: 14px 25px 13px 16px;
    margin-bottom: 43px;
    }
  .logo__text {
    opacity: 0;
   }
   .main-point {
     display: none;
   }
}
@media (max-width:563px) {
  .main-content__title{
    font-size: 39px;
  }
  .main-content__description {
    width: 100%;
    font-size: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width:428px) {
.menu {
  display: none;
  }
.wraper {
  width: 100%;
  padding: 0;
}
.header {
  margin: 0;
  padding: 16px 24px 32px 16px;
  }
.main-content {
  padding: 259px 0 0 0;
  width: 78%;
  margin: auto;
  z-index: 4;
  background-size: 100%;
  background-position: center top;
  }
.main-content__title {
  font: bold 30px/40px pt_serifbold;
  text-align: center;
  width: auto;
  padding: 0 0 31px 5px;
  }

.main-content__description {
  font-family: robotomedium;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 88%;
  height: 57px;
  padding: 0 0 18px 5px;
  margin: auto;
  }
.main-content__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 74%;
  padding: 13px 25px 12px 15px;
  margin-left: 2px;
  }
.logo__text {
  opacity: 0;
 }
}
